.howtobuyDetailPage{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #e9ebed;

	.wrapperContent{
		padding: 3.5em 7em 2em 7em;

		height: 100%;
		width: 100%;
    	overflow: auto;
    	position: relative;
	}

	.mainHeader{

		.contentLarge{
			color: black;
			letter-spacing: -3px;
		}
	}

	.grey{
		@include darkGrey;
		margin-left: 7px;
	}

	.containerLists{
		margin-top: 2em;
	}

	.headerMiddle{
		margin-bottom: 0.5em;
    	font-weight: 400;
    	display: inline-block;
	}

	.wrapperContainerLists{
		display: inline-block;
		width: 33.3%;
		vertical-align: top;
	}

	.listCountries{

	}

	.itemListCountries{
		@include content_smaller;
		margin-bottom: 12px;
	}
}