.containerClose{
	position: absolute;
	top: 50px;
	right: 50px;
	background-color: white;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	z-index: 3;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);

	&:hover{
	 	-webkit-transform: translateZ(0) scale(1.15);
	 	    -ms-transform: translateZ(0) scale(1.15);
	 	        transform: translateZ(0) scale(1.15);
	}
}