.buttonScroll{
	position: fixed;
	bottom: -20px;
	z-index: 2;
	width: 40px;
	background-color: transparent;
	left: -webkit-calc(50% - 50px);
	left: -webkit-calc(50% - 40px);
	left: calc(50% - 40px);
	height: 100px;
	cursor: pointer;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	overflow: hidden;
	-webkit-box-shadow: 2px 0px 0px 0px grey inset;
	        box-shadow: 2px 0px 0px 0px grey inset;
	-webkit-transform: translateZ(0) translate( -20px, 0 );
	        transform: translateZ(0) translate( -20px, 0 );

	&:after{
		content: '';
		position: absolute;
		height: 50px;
		left: 0;
		top: 0;
		background-color: white;
		width: 2px;
		-webkit-animation: animation_button_scroll 2.5s infinite linear;
		        animation: animation_button_scroll 2.5s infinite linear;
		will-change: transform;
	}

	&:hover{
		-webkit-transform: translateZ(0) translate(-20px, -20px);
		        transform: translateZ(0) translate(-20px, -20px);
	}

	.content{
		@include content_small;
		@include white;
		display: block;
	    background-color: transparent;
    	-webkit-transform: rotate(-90deg);
    	    -ms-transform: rotate(-90deg);
    	        transform: rotate(-90deg);
    	-webkit-transform-origin: bottom;
    	    -ms-transform-origin: bottom;
    	        transform-origin: bottom;
    	position: absolute;
    	left: 10px;
    	top: 10px;
	}
}

@-webkit-keyframes animation_button_scroll {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }

  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes animation_button_scroll {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }

  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}