$width_button_menu: 40px;
$height_button_menu: 30px;

.containerButtonMenu{
	position: fixed;
	z-index: 3;
	width: $width_button_menu;
	height: $height_button_menu;
	left: 4%;
	top: -webkit-calc(50% - 50px);
	top: calc(50% - 50px);

	.page{
    	position: absolute;
    	@include content_smaller;
    	font-size: 13px;
    	left: 0;

    	&.current{
    		top: -30px;
    		@include white;
    	}

    	&.total{
    		bottom: -30px;
    		@include grey;
    	}
    }

	.buttonMenu{
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		width: $width_button_menu;
		height: $height_button_menu;
		cursor: pointer;
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: start;
	    -webkit-align-items: flex-start;
	        -ms-flex-align: start;
	            align-items: flex-start;
	    -webkit-justify-content: space-around;
	        -ms-flex-pack: distribute;
	            justify-content: space-around;
		-webkit-transition: 0.35s;
		-o-transition: 0.35s;
		transition: 0.35s;

		.line{
			position: relative;
			height: 2px;
			width: $width_button_menu;
			background-color: white;
			-webkit-transition: 0.35s;
			-o-transition: 0.35s;
			transition: 0.35s;

			&.one{
				-webkit-transform: translateZ(0) translate(-10px, 0);
				    transform: translateZ(0) translate(-10px, 0);
			}

			&.three{
				-webkit-transform: translateZ(0) translate(-17px, 0);
				    transform: translateZ(0) translate(-17px, 0);
			}
		}

		&:hover .line{
	    	-webkit-transform: translateZ(0) translate(0, 0);
	    	    transform: translateZ(0) translate(0, 0);
	    }
	}
}