.containerVideo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.video{
	    -webkit-animation: opacity_video 1s linear;
	            animation: opacity_video 1s linear;
	    width: 100%;
    	height: 100%;
    	-o-object-fit: cover;
    	   object-fit: cover;
	}
}

@-webkit-keyframes opacity_video {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes opacity_video {
	from { opacity: 0; }
	to   { opacity: 1; }
}