.containerIndicator{
	position: fixed;
	z-index: 2;
	top: 40%;
	right: 4%;
	height: 30%;
	width: 10px;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);

	.listSegments{
		width: 100%;
		height: 100%;
	}

	.segment{
		width: 3px;
		height: 13%;
		margin-top: 4px;
		background-color: grey;
		-webkit-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
	}

	.active{
		background-color: white;
		height: 21%;
	}
}