.blockSocialLinks{
	position: fixed;
	bottom: 7%;
	left: 15%;
	z-index: 3;
	display: inline-block;

	.itemLink{
		display: inline-block;
	}

	.link{
		@include white;
		@include content_small;
		@include animation_bottom_border;
		text-decoration: none;
		cursor: pointer;
		margin: 2px 4px;
		padding: 3px 3px;
		position: relative;
		overflow: hidden;
		display: inline-block;
	}
}