.creditsPage{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	.contentCreditsPage{
		padding: 4em 2em;
		max-height: 100%;
		overflow: auto;
		position: relative;
	}

	.header{
		@include white;
		font-size: 4.5em;
		font-family: 'Rajdhani', sans-serif;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
	}

	.listLinks{
		text-align: center;
		margin: 4em auto;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-justify-content: space-around;
    	    -ms-flex-pack: distribute;
    	        justify-content: space-around;
    	max-width: 500px;
	}

	.itemListLinks{
		display: inline-block;

		.link{
			display: inline-block;
		}

		img{
			max-height: 55px;
		}
	}

	.listParticipantsProject{
		font-size: 20px;
    	width: 100%;

    	.row{
    		width: 100%;
    		margin-bottom: 7px;
	    	display: -webkit-box;
	    	display: -webkit-flex;
	    	display: -ms-flexbox;
	    	display: flex;
	    	-webkit-box-align: start;
	    	-webkit-align-items: flex-start;
	    	    -ms-flex-align: start;
	    	        align-items: flex-start;
	    	-webkit-box-pack: justify;
	    	-webkit-justify-content: space-between;
	    	    -ms-flex-pack: justify;
	    	        justify-content: space-between;

    		.left{
    			width: 49%;
				@include grey;
				text-align: right;
    		}

    		.right{
    			width: 49%;
				@include white;
    		}
    	}

    	.row:nth-child(2){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(3){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(8){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(9){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(17){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(22){
    		margin: 2.3em 0;
    	}
    	.row:nth-child(26){
    		margin: 2.3em 0;
    	}
	}
}