@media screen and (max-width:1100px) {
	.containerMenu{

		.blockMenu{
			left: 8%;
		}

		.containerHowtobuy{
			right: 8%;
		}
	}
}

@media screen and (max-width:870px) {
	.containerMenu{

		.headerLarge{
			font-size: 19px;
		}

		.headerSmall{
			margin: 18px 0;
		}

		.itemMenu .link{
			font-size: 1.7em;
		}

		.containerClose{
			top: 30px;
			right: 30px;
		}

		.blockMenu{
    		top: 1%;
    		bottom: 10%;
		}
	}
}

@media screen and (max-width:800px){
	.containerMenu{
		background-image: url(../images/pages/flag_black_mobile.jpg);
		background-repeat: no-repeat;
		background-position: center;
   		-webkit-background-size: cover;
    	    background-size: cover;

    	.backgroundLayer, .containerContentMenu{
    		background-color: transparent;
    	}

		.bottomNavigation, .containerHowtobuy{
			display: none;
		}

		.listMenu{
			overflow: auto;
			display: inline-block;
			padding: 1em;
		}

		.blockMenu{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.itemMenu .link{
			font-size: 2.1em;
			padding: 0.55em 0;
		}

		.itemMenu:nth-child(6),
		.itemMenu:nth-child(7),
		.itemMenu:nth-child(8){
			display: block;
		}
	}
}

@media screen and (max-width:770px) {
	.containerMenu{

		.headerLarge, .headerSmall{
			display: none;
		}

		.containerLink{
			padding: 7px 10px;
		}

		.descriptionLink{
			font-size: 15px;
		}
	}
}

@media screen and (max-device-width:480px){
	.containerMenu .containerClose{
		top: 17px;
		right: 17px;
	}
}