.homePage{
	@include containerPage;
 		background-color: rgba(2, 2, 2, 0.82);

 	.wrapperContent{
 		@include wrapperContent;
 		background-color: rgba(2, 2, 2, 0.14);
 	}

 	.containerTopContent{
 		position: absolute;
 		top: 0;
 		left: 0;

	 	.contentMedium{
	 		@include grey;
	 		@include content_medium;
	 	}
 	}

 	.contentMedium{
	 	@include grey;
	 	@include content_medium;
	}

	.contentMedium.white{
	 	@include white;
	 	@include content_medium;
	}

 	.contentSmall{
 		@include content_small;
 		@include grey;
 	}

 	.contentLarge{
 		@include content_largest;
 		@include white;
	    line-height: 80px;
	    text-transform: uppercase;
	    font-family: 'rajdhani', sans-serif;
	    letter-spacing: -5px;
 	}

 	.containerBottomContent{
 		position: absolute;
 		bottom: 0;
 		left: 0;
 	}

 	.containerRightBottomContent{
 		position: absolute;
 		right: 0;
 		bottom: 0;
 	}

 	.btnText{
 		@include content_large;
 		@include white;
 		margin-top: 7px;
 		letter-spacing: -0.3px;
 	}
}