@media screen and ( max-width: 800px ) {
	.galleryPage{

		.blockTopLeft, .blockBottomLeft{
			display: none;
		}

		.headerLarge{
			margin: 0;
			position: absolute;
			left: 10%;
			top: 30%;
		}
	}
}