.containerSlider{
	position: absolute;
	bottom: 15%;
	right: 2%;
	width: 55%;
	height: 50%;
	min-height: 320px;
	z-index: 1;

	&.fullScreen{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.containerClose{
			display: -webkit-inline-box;
			display: -webkit-inline-flex;
			display: -ms-inline-flexbox;
			display: inline-flex;
			z-index: 3;
		}

		.swiper-slide:hover .img{
			-webkit-transform: none;
			    -ms-transform: none;
			        transform: none;
		}
	}

	.containerClose{
		display: none;
	}

	.swiper-container{
		width: 100%;
		height: 100%;
	}

	.swiperButton{
		@include animation_bottom_border( 2px );
		position: absolute;
		bottom: 20%;
		padding: 4px 10px;
		z-index: 1;
		cursor: pointer;
		width: 110px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		background-image: none;
		top: initial;
		background-color: rgba(0, 0, 0, 0.2901960784313726);
		height: initial;
		margin: 0;
		outline: none;
	}

	.swiper-button-next{
		right: -21px;

		&:hover{
			right: 0;
		}
	}

	.swiper-button-prev{
		left: -21px ;
		text-align: right;

		&:hover{
			left: 0;
		}
	}

	.swiper-slide:hover .img{
		-webkit-transform: scale(1.05);
		    -ms-transform: scale(1.05);
		        transform: scale(1.05);
	}

	.img{
		width: 100%;
		height: 100%;
    	-o-object-fit: cover;
    	   object-fit: cover;
		-webkit-transition: 0.35s linear;
		-o-transition: 0.35s linear;
		transition: 0.35s linear;
	}

	.content{
		@include white;
		font-size: 16px;
	}

	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled{
		opacity: 0;
	}
}