.HowToBuyPage{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: white;

	.wrapperContentPage{
		@include wrapperContentPage;
	}

	.mainHeader{
		@include black;
		display: inline-block;
		position: relative;
		margin: 5% 0 5% 3%;

		.contentLarge{
			color: black;
			letter-spacing: -3px;
		}
	}

	.row{
		width: 100%;
    	display: inline-block;
	}

	.cell{
		display: inline-block;
		width: 24.5%;
		line-height: 1.50;
		padding: 15px 10px;
		vertical-align: top;
	}

	.cell.mobile{
		display: none;
		width: 35%;
		line-height: 1.50;
		padding: 15px 10px;
		vertical-align: top;
	}

	.mediumContent{
		@include darkGrey;
	}

	.largeContent{
		@include black;
		@include content_large;
	}

	.smallerContent{
		@include black;
		font-size: 15px;
	}

	.smallContent{
		@include darkGrey;
		font-size: 16px;
	}

	.smallContent.black{
		@include black;
	}

	.separator{
		margin: 7px 0;
	}

	.containerButtonViewStoreList{
		margin-top: 1.4em;
	}

	.buttonViewStoreList{
		background-color: black;
		@include white;
		padding: 12px 17px;
		font-size: 16px;
		display: inline-block;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;

		&:hover{
			-webkit-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			        transform: scale(1.1);
		}
	}
}