@font-face {
    font-family: "DINNextLTPro-Medium";
    src: url("../fonts/DINNextLTPro-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "rajdhani";
    src: url("../fonts/rajdhani-bold-webfont.woff2") format("woff2");
}