@mixin containerPage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: transparent;
}

@mixin wrapperContent{
	position: absolute;
	top: 6%;
	right: 15%;
	bottom: 18%;
	left: 16%;
}

@mixin content_small{
	font-size: 17px;
}

@mixin content_smaller{
	font-size: 15px;
}

@mixin content_medium{
	font-size: 20px;
}

@mixin content_large{
	font-size: 23px;
}

@mixin content_largest{
	font-size: 110px;

	@media screen and (max-width:1250px) {
		font-size: 70px;
	}

	@media screen and (max-height: 750px) {
		font-size: 70px;
	}

	@media screen and (max-width:800px) {
		font-size: 40px;
	}
}

@mixin white{
	color: #FFFFFF;
}

@mixin black{
	color: #000000;
}

@mixin grey{
	color: rgba(182, 188, 206, 0.7);
}

@mixin darkGrey{
	color: grey;
}

@mixin fixed_link($left, $top, $right, $bottom, $height, $width) {
	position: fixed;
	z-index: 3;
	cursor: pointer;

	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
	width: $width;
	height: $height;
}

@mixin animationItemMenu( $transition ) {
	-webkit-animation: itemMenu $transition ease;
	        animation: itemMenu $transition ease;
	left: 0;
	opacity: 1;
}

@mixin animation_bottom_border( $height: 1px, $bg_color: white ){
	position: relative;
	overflow: hidden;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: -100%;
		width: 100%;
		height: $height;
		background-color: $bg_color;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	&:hover:after{
		left: 0;
	}
}

@mixin wrapperContentPage{
	position: absolute;
    top: 6%;
    right: 15%;
    bottom: 18%;
    left: 16%;

    @media screen and (max-width:800px){
    	top: 4%;
    	right: 11%;
    	bottom: 11%;
    	left: 11%;
    }
}
