.containerSound{
	@include fixed_link(initial, initial, 4%, 6%, 25px, 45px);
	overflow: hidden;

	.sound{
		max-width: 250px;
		position: absolute;
		-webkit-transition: 0.6s left, right;
		-o-transition: 0.6s left, right;
		-webkit-transition: 0.6s;
		-o-transition: 0.6s;
		transition: 0.6s;

		&.on{
			-webkit-transform: translateZ(0) translate(-20px, 0);
			        transform: translateZ(0) translate(-20px, 0);
		}

		&.off{
			-webkit-transform: translateZ(0) translate(-110px, 0);
			        transform: translateZ(0) translate(-110px, 0);
		}
	}
}