.containerSound{
	@include fixed_link(initial, initial, 4%, 6%, 25px, 45px);
	overflow: hidden;

	.sound{
		max-width: 250px;
		position: absolute;
		-webkit-transition: 0.6s left, right;
		-o-transition: 0.6s left, right;
		transition: 0.6s left, right;

		&.on{
			left: 0;
		}

		&.off{
			left: -90px;
		}
	}
}